super-tabs {
    super-tabs-toolbar {
        position: sticky;
        --background: transparent;
        top: 0;
        width: 100%;
        border-radius: 0 0 10px 10px;
        --border: 0;

    
    }
}

