<div href="brochure?.link">
  <img  [src]="brochure?.cover" />
</div>

<ion-item lines="none">
  <ion-label class="ion-text-wrap">
    <!-- <ion-text>
      <ion-row>
        <ion-col size="9">
          <strong style="font-size: 1rem;">{{brochure?.name}}</strong>
        </ion-col>
      </ion-row>
    </ion-text> -->
    


     <p>
      <ion-text color="medium">
        {{brochure?.name}}
      </ion-text>
    </p> 
   <ion-row class="ion-text-center">
      <!-- <ion-col size="12">
        <ion-text><b style="font-size: 1rem;">{{brochure?.store}}</b></ion-text>
      </ion-col> -->
      
   <p *ngIf="brochure?.valid">
      <ion-text color="danger" class="valid">
        Valid: {{brochure?.valid}}
      </ion-text>
    </p> 
   </ion-row>
  </ion-label>
</ion-item>