ion-content {
    --background: url('../../../assets/img/login.png') no-repeat center center/cover;
}
ion-input, ion-text {
    font-size: 0.9rem;
}
.error {
    font-size: 0.7rem !important;
}
p {
    ion-icon {
        font-size: 1.8rem;
        margin: 1vh 1vh;
    }
}
ion-button {
    background: linear-gradient(to right, #8D5ED4 14%, #65A7E6 86%);
}